#r20a-overlay {
    position: absolute;
     /*should be over everything r20 has
      we may have won the z-index battle but not the z-index war*/
    z-index: 100000;
}

#r20a-overlay-inner {
    background-color: white;
    font-family: Nunito,sans-serif;
    border-radius: 4px;
    border: rgb(170,170,170) solid 1px;
    
    summary {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    details > summary > * {
        margin: 0 0 0 5px;
    }

    details > summary > *:last-child {
        margin: 0 5px 0 5px;
    }

    details > summary > h1 {
        display: inline;
        font-size: 24px;
        font-weight: bold;
    }

    details > summary > .cursor::before {
        content: '⯈';
        font-size: 24px;
        width: 20px;
        height: 20px;
    }
    
    details[open] > summary > .cursor::before {
        content: '⯆';
    }
}


#r20a-overlay-drag-grip {
    cursor: move;
}

#r20a-overlay-togglebutton {
    cursor: pointer;
}


#r20a-scrollbox {
    border-top: rgb(170,170,170) solid 1px;
    padding: 5px;
    width: 350px;

    overflow-y: scroll;
    resize: vertical;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    > h1 {
        margin-left: 5px;
        display: inline;
        font-size: 24px;
        font-weight: bold;
    }
}

.r20a-spacer {
    flex-grow: 999;
}

.r20a-border {
    border-radius: 4px;
    border: rgb(170,170,170) solid 1px;

    height: 40px;

    display: flex;
    align-items: center;

    > * {
        margin: 3px;
    }
}

.r20a-markeredit-row {

    display: flex;
    align-items: center;

    > * {
        margin: 3px;
    }

    .statusicon {
        box-sizing: content-box;

        position: relative;

        .r20a-favouriteicon {
            width: 18px;
            height: 18px;
            position: absolute;
            top: -6px;
            right: -6px;

            display: none;
        }
    }

    .statusicon.favourited .r20a-favouriteicon {
        display: inherit;
    }

    button {
        box-sizing: border-box;
        padding: 2px 6px 4px;
    }

    .r20a-input-message-container {
        flex-grow: 10;
    }

    input[type=text].r20a-input-message {
        width: 60px;
        height: 30px;
        box-sizing: border-box;
        flex-grow: 10;
    }
}

.r20a-markermenu-container {
    align-self: center;
}

.r20a-markermenu-header {
    margin-top: 5px;
    margin-bottom: 12px;
    text-align: center;
    border-bottom: rgb(170,170,170) solid 1px;
    height: 0.5rem;

    span {
        background: #fff;
        padding: 0 10px;
    }
}

.r20a-markermenu, .r20a-favouritemenu {
    .statusicon {
        cursor: pointer;
    }
}


.r20a-markermenu {
    
    .markercolor {
        margin: 5px 2px 0 2px;
    }
    .markericon {
        margin: 0 2px 0 0;
    }
    
    .markercolor.dead {
        border-radius: 0px;
        width: auto;
        color: #cc1010;
        font-size: 24px;
        font-weight: bold;
        position: relative;
        top: -7px;
        padding: 0 2px 0 2px;
        line-height: 1.5rem;
    }
}

#r20a-markeredit {
    display: flex;
    flex-direction: column;

    flex-shrink: 0;
    flex-basis: 50px;
}

#r20a-markeredit {

    .markercolor {
        margin-right: 5px;
    }
    .markercolor.dead {
        margin-right: 7px;
    }
    
}

.r20a-markeredit-row .dead {
    border-radius: 0px;
    width: auto;
    color: #cc1010;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    padding: 0 2px 0 2px;
    line-height: 1.3rem;
}

.r20a-markeredit-row, .r20a-markermenu, .r20a-favouritemenu {
    font-family: "Proxima Nova","ProximaNova-Regular",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

    .markercolor {
        width: 22px;
        height: 22px;
        border-radius: 20px;
        display: inline-block;
        border: 4px solid white;
    }

    .markericon {
        display: inline-block;
        background-image: url(https://files.d20.io/images/1/i-f4Y5RklihSCLNOzppdwA/icon.png?1575370609);
        background-repeat: no-repeat;
        background-size: 24px;
        width: 24px;
        height: 24px;
        padding: 0;
        border: 4px solid white;
    }

    .markericon.active {
        border: 4px solid #aae3f0;
    }
    
    .markercolor.active {
        border: 4px solid #aae3f0;
    }
}

.r20a-statusicon-textcontainer {
    position: relative;
    transform: scale(1.5);
    margin: 10px !important;

    display: flex;
    flex-direction: column;
    align-items: center;

    .r20a-statusicon-text {

        position: relative;
        bottom: 0;

        font-family: Arial, Helvetica, sans-serif;
        font-size: 14pt;
        font-weight: 800;
        color: #ff0000;
        -webkit-text-stroke: 1.5px white;
        letter-spacing: -7%;
        text-align: center;
    }
}

.r20a-favouritemenu {
    display: flex;
    
    .r20a-favouriteentry {
        border-radius: 4px;
        border: rgb(170,170,170) solid 1px;
        margin: 5px;
        padding: 5px;
        height: 80px;

        display: flex;
        align-items: center;
        flex-direction: column;

        .statusicon {
            margin: auto;
        }

        .r20a-text {
            padding: 1px 3px 1px 3px;
            height: 20px;
        }

        .r20a-text-empty {
            display: none;
        }

        .r20a-closebtn {
            border-radius: 4px;
            border: rgb(170,170,170) solid 1px;
            color: black;
            width: 20px;
            height: 20px;
            margin: 2px;
        }
    }
}

.r20a-draghandle {
    cursor: grab;
}

.r20a-tabs {

    align-self: center;
    padding: 3px;

    [role="tablist"] {
        padding-left: 10px;
    }

    [role="tab"] {
        display: inline-block;

        padding: 4px;
        border: rgb(170,170,170) solid 1px;
        border-bottom: white solid 1px;

        border-radius: 4px 4px 0 0;

        position: relative;
        top: 1px;
        z-index: 1;

        p {
            margin: 1px;
        }
    }

    [role="tab"][aria-selected="true"] {

    }

    [role="tab"][aria-selected="false"] {
        border-bottom: rgb(170,170,170) solid 1px;
    }

    .tabpanel-container {
        position: relative;
    }

    [role="tabpanel"] {
        border-radius: 4px;
        border: rgb(170,170,170) solid 1px;

        width: 280px;
        min-height: 30px;

        position: absolute;
        top: 0;
        bottom: 0;

        overflow-y: auto;
    }

    [role="tabpanel"].tabroot {
        position: static;
    }

    [role="tabpanel"].tabs-hidden {
        /* display: none; */
        visibility: hidden;
        pointer-events: none;
    }
}